---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Information for Visiting Teams | Wroughton & Wichelstowe FC">
  <main class="mx-auto max-w-6xl px-6 py-20">
    <h1 class="text-4xl font-bold">Visiting Teams</h1>
    <p class="mt-6 max-w-3xl text-slate-300">
      Information for visiting teams will be added here
    </p>
  </main>
</Layout>